@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(247, 247, 247);
}
header {
    background-color: black;
    color: blanchedalmond;
    top : 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

nav {
    min-height: 50px;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}
a { 
    text-decoration: none;
}
nav i {
    visibility: hidden;;
}
nav a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}
nav a:hover {
    transition: ease-in .2s;
    color: rgb(215, 0, 65);
}

p {
    font-size: .9rem;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    margin: 25px 0;
    font-size: 1.7rem;
    color: rgb(215, 0, 65);
}
h3 {
    margin: 15px 0;
    color: rgb(215, 0, 65);
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.1rem;
    margin: 10px 0;
}
/* Accueil */
.accueil {
    background: url("../images/fond.jpg") fixed  no-repeat top right;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accueil__container {
    width: 80%;
    height: 30%;
    min-height: 150px ;
    min-width: 300px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.8);
    border-radius: 15px;
}
.accueil__container > * {
    color: rgb(215, 0, 65);
    margin: 7px 0 ;
}
.accueil select {
    width: 35vw;
    min-width: 200px;
    height: 2rem;
    border: black 1 solid;
}
.accueil__container button {
    width: 15vw;
    min-width: 60px;
    height: 2rem;
    background-color:  rgb(215, 0, 65);
    color: white;
    border: 0 ;
    margin: 0;
}
button:hover {
    transition: ease-in-out .2s;
    background-color:  rgb(255, 0, 76);
}
form {
    display: flex;
}


/* Biens */
.biens a {
    color: black;
}
.biens a:hover {
    transition: ease-in-out .2s;
    color: rgb(255, 0, 76);
    
}
.fixed {
    height: 6vh;
}
#biens, .biens  {
    background-color: rgb(247, 247, 247);
}
.biens > h2 {
    text-align: center;
}
.boxImg {
    overflow: hidden;
}
.biens  img {
    transition: ease-out .3s;
    width: 28vw;
    min-width: 300px;

    overflow: hidden;
    transform: scale(1.2);
}
.bien:hover img {
    transition: ease-in .3s;
    transform: scale(1.3);

}

.biens__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bien {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.bien *:not(i,img) {
    padding-bottom:1vh;
}
dl {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}
dd, dt {
    margin-right: 5px;
}

/* Agents */
.agents {
    
}
.agents a {
    color: black;
}
.agents a:hover {
    transition: ease-in-out .2s;
    color: rgb(255, 0, 76);
    
}
.agents i {
    color: black;
}
.agents i:hover {
    transition: ease-in-out .2s;
    color: rgb(255, 0, 76);
}
.agents__container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
    margin: 0 5%;
}
.agents > h2 {
    text-align: center;
}
.agent {
    margin: 1vw;
    display: flex;
}
.infosAgent {
    /* margin: 15px 0;  */
    display: flex;
    flex-direction: column;
}
.reseauSociauxAgent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}
.reseauSociauxAgent > a >  i {
    color: rgb(5,5,5);
    font-size: 2rem;
    margin: 15px 0;
}
.agent * {
    line-height: 25px;
}
.agent .boxImg img {
    width: 20vw;
    min-width: 300px;
    margin-right: 1vw ;
}
.infosAgent i {
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
}
/* footer */
footer > div {
    min-height: 250px;
    background-color: rgb(5,5,5);
    color: rgb(215, 0, 65);
    display: flex;
    flex-basis: 25%;
    padding: 6vw;
}
footer > div > div {
    margin: 1vw;
}
footer p {
    margin: 15px 0;
}



@media (max-width : 640px ) {

    nav {
        padding-right: 0;
        padding-left: 20px;
        justify-content: space-around;
    }
    nav i {
        font-size: 2rem;
        visibility: visible;
    }
    nav span {
        visibility: collapse;
    }

    .accueil {
        background: url("../images/fond.jpg") fixed  no-repeat  -1100px -100px;
    }    

    .biens {
        flex-direction: column;
    }
    .biens img {
        width: 85vw;
    } 
    .bien {
        margin-bottom: 40px;
    }  
    .agents__container {
        justify-content: center;
    }
    .agent .boxImg img {
        margin: 0;
        width: 85vw;
    }
    .agent {
        flex-direction: column;
    }

    footer > div {
        flex-direction: column;

    }


}
